*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration:none;
  list-style: none;
  
}

body{background:linear-gradient(rgba(0,0,0,0.1),
	   rgba(0,0,0,0.1)),url("img/bg5.jpg");
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(3px); 
    
    background-size:cover;
   
    }

    .nav-bar4{color: antiquewhite;
      height: 7%;;   
      display: flex; 
       justify-content: space-between;
       backdrop-filter: blur(30px); 
    }

      
.ul{display:flex;
    justify-content: flex-end;
    margin:20px;}
    
.ul li a{
    padding: 15px;
    color:rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
}
.ul li a:hover{color: rgb(243, 255, 14);}

.rrr{
    display: flex;
    width: 100%;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.689);
    }

    .form-container{
      width: 100%;
      display: flex;
      justify-content: center;
    }


  .form{border:1px solid black;
      
    
    border-radius: 15px;
    text-align: center;
      padding: 8%;
      background: rgba(255,255,255,0.4);
      backdrop-filter: blur(20px);
     padding-top: 40px;
      height: 88%;
       margin: 5%;
       width: 40%;
      
    
 }
 .h2{ padding: 3px;
       color :black}

 .tex{width:300px ;
       margin: 4px;
    padding: 7px;
    border-radius: 8px;}

.tex:hover{box-shadow:0 3px 5px ;}

.r1{margin: 5px;
     color:white;
    }
.but{padding: 10px;
      width: 150px;
    border-radius: 7px;
     background-color: aqua;
    }

.but:hover{box-shadow: 0 2px 2px;
             background-color:red;}
    .h3{color:rgb(255, 255, 255);
         font-size: 20px;
        background-color: rgba(0, 0, 0, 0.584);
      border-radius: 3px;
  }
    .p{padding: 3px;}




.pack1{padding: 20px;
    background-color: rgba(6, 97, 61, 0.615);
    margin: 10px;
    border: 1px solid rgb(255, 19, 19);
    border-radius: 5px;
    transition: 0.3s;
    width: 25%;
    

    }

.pack1:hover{transform: translateY(-3px);
              box-shadow: 0 5px 5px ;
            background-color: rgba(9, 95, 51, 0.359);}





span{color:rgb(255, 0, 0)}
.thnkyou{color:wheat;
     background-color: rgb(0, 62, 38);
    }
.img{width:210;
      height: 250;
    border-radius: 20px;}
